
{% extends 'base.html' %}

{% block title %}
    Add New Command
{% endblock title %}

{% load static %}

{% block content %}

<h1 class="text-info text-center mt-3">Add New Pandas Command</h1>
<h3 class="text-danger text-center mt-2">{{ message }}</h3>
<div class="justify-content-center mb-4">

    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-10 offset-md-1">

                <div class="form-group">
                    <label for="command" class="font-weight-bold">Command :</label>
                    <input class="form-control form-control-sm" type="text" id="command" 
                    name="command" required>
                </div>

                <div class="form-group">
                    <label for="example" class="font-weight-bold">Example :</label>
                    <input class="form-control form-control-sm" type="text" id="example" 
                    name="example" required>
                </div>

                <div class="form-group">
                    <label for="description" class="font-weight-bold">Description :</label>
                    <textarea class="form-control form-control-sm" type="text" value=""
                                id="description" name="description" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <label for="appliesto" class="font-weight-bold">Type :</label>
                    <select name="appliesto" class="form-control form-control-sm" id="appliesto">
                        {% for item in app %}
                        <option value="{{ item.appliesto }}">{{ item.appliesto }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="category" class="font-weight-bold">Category :</label>
                    <select name="category" class="form-control form-control-sm" id="category">
                        {% for item in cat %}
                        <option value="{{ item.category }}">{{ item.category }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label mr-2 font-weight-bold">
                        <input class="form-check-input" type="checkbox" 
                                name="inplace"> Series/Dataframe Updated Inplace?
                    </label>
                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-10 offset-md-1">
                <button type="submit" class="btn btn-success btn-sm mr-4" id="filter">
                    <i class="fas fa-pencil-alt"></i> Add New Record
                </button>

                <a href="{% url 'index' %}" class="btn btn-warning btn-sm">
                    <i class="fas fa-level-up-alt"></i> Back to Main Screen
                </a>
            </div>
        </div>
    </form>

</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}